**/build
**/logs
**/target
**/.idea
**/.idea_modules
*.iml
**/.classpath
**/.gradle
**/.project
**/.settings
**/RUNNING_PID
**/custom.conf
!**/volume/custom.conf
**/node_modules
**/custom.ts
**/*.log
common/publish.log
.metals
.vscode
**/.bloop
**/metals.sbt
.bsp
data
.env
docker-compose.override.yml
**/public/assets/images/*
**/null